<section data-scroll-index="1">
    <div class="math">
        <div class="header">
            <h1 class="title">{{ .Site.Params.expository.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.expository.Subtitle }}</h2>
        </div>
        <div class="content-case-study">
            <ul style="font-size: 16px;
            color: #000000;
            letter-spacing: 0;
            line-height: 1.8em">
            <li><a href="https://arxiv.org/pdf/1910.10883.pdf" target="blank" >How big can an intersecting family be?</a>
                Exploring the combinatorics of intersection of finite sets.
            </li>
            </ul>
        </div>
    </div>
</section>
