<section data-scroll-index="4">
    <div class="math">
        <div class="header">
            <h1 class="title">{{ .Site.Params.misc.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.misc.Subtitle }}</h2>
        </div>
        <div class="content-case-study">
            <ul style="font-size: 16px;
            color: #777777;
            letter-spacing: 0;
            line-height: 1.8em">
                <li>I have been organizing <a href="https://sites.google.com/a/brown.edu/ams-conference-2018/" target="blank"> AMS Graduate Student Conferences</a> with <a href="https://www.math.brown.edu/~samjfree/" target="blank"> Sam Freedman</a>.
                </li>
                <li>Since Spring 2019, I've been organizing <a href="https://www.math.brown.edu/~drp/" target="blank">Directed Reading Program (DRP) at Brown</a>.
                </li>
                <li>In Fall 2018, I revived <a href="https://sites.google.com/yale.edu/yaledrp/home" target="blank">DRP at Yale</a> with <a href="https://math.yale.edu/people/fernando-al-assal" target="blank">Fernando Al Assal</a>.
                </li>
                <li>I'm on the <a href="https://www.brown.edu/academics/math/diversityinclusioncommunity" target="blank"> Diversity and Inclusion Committee</a> of the math department at Brown. Let us know how we can improve!
                <li>I am an alum of <a href="https://summerscience.org/" target="blank" >Summer Science Program</a> '12, where my team Pink Panther determined the orbit of solar-system Asteroid 1998QS52.
                </li>

                <li>I am a happy and proud user of the <a href="https://en.wikipedia.org/wiki/Dvorak_keyboard_layout" target="blank" >Dvorak keyboard layout</a>.
                </li>

                <li>I am an aspiring mountaineer and big mountain snowboarder, based in Denver during the pandemic. Happy to be reached out for expeditions.
                </li>

            </ul>
        </div>
    </div>
</section>
