<section data-scroll-index="4">
    <div class="math">
        <div class="header">
            <h1 class="title">{{ .Site.Params.misc.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.misc.Subtitle }}</h2>
        </div>

        <div class="content-case-study">
            <ul style="font-size: 16px;
            color: #777777;
            letter-spacing: 0;
            line-height: 1.8em">
                <li>I've been on the <a href="https://www.brown.edu/academics/math/diversity-and-inclusion-committee/" target="blank">Diversity and Inclusion Committee</a> at Brown Math since 2019.
               </li>
                <li>I served as the chair of <a href="http://www.ams.org/programs/studentchapters/" target="blank">AMS Chapter</a> at Brown Math 2019-2021.
                </li>
                <li>I organized <a href="https://www.math.brown.edu/~drp/" target="blank">Directed Reading Program at Brown</a> 2019-2020.
                </li>
                <li>I revived <a href="https://sites.google.com/yale.edu/yaledrp/home" target="blank">Directed Reading Program at Yale</a> in 2018.
                </li>
                <li>I am an alum of <a href="https://summerscience.org/" target="blank" >Summer Science Program</a> '12, where my team Pink Panther determined the orbit of solar-system Asteroid 1998QS52.
                </li>
                <li>I am a happy and proud user of the <a href="https://en.wikipedia.org/wiki/Dvorak_keyboard_layout" target="blank" >Dvorak keyboard layout</a>.
                </li>
            </ul>
        </div>
    </div>
</section>
