<section data-scroll-index="4">
    <div class="math">
        <div class="header">
            <h1 class="title">{{ .Site.Params.misc.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.misc.Subtitle }}</h2>
        </div>
        <div class="content-case-study">
            <ul style="font-size: 16px;
            color: #777777;
            letter-spacing: 0;
            line-height: 1.8em">
                <li>I'm organizing <a href="https://sites.google.com/a/brown.edu/ams-conference-2018/" target="blank"> AMS Graduate Student Conference</a> with <a href="https://www.math.brown.edu/~samjfree/" target="blank"> Sam Freedman</a>.
                </li>
                <li>Since 2018, I've been organizing Directed Reading Programs at <a href="https://www.math.brown.edu/~drp/" target="blank"> Brown</a> and <a href="https://sites.google.com/yale.edu/yaledrp/home" target="blank"> Yale</a>.
                </li>
                <li>I loved teaching and living at <a href="https://www.mathcamp.org" target="blank">Canada/USA Mathcamp</a>.
                </li>
                <li>I'm on the <a href="https://www.brown.edu/academics/math/diversityinclusioncommunity" target="blank"> Diversity and Inclusion Committee</a> of the math department at Brown. Let us know how we can improve!
                <li>I am an alum of <a href="https://summerscience.org/" target="blank" >Summer Science Program</a> '12, where we stayed up and looked at stars, scorpius and saturn till 3AM for 6 weeks in a New Mexico desert.
                </li>

                <li>I use <a href="https://en.wikipedia.org/wiki/Dvorak_keyboard_layout" target="blank" >Dvorak keyboard layout</a>.
                </li>

            </ul>
        </div>
    </div>
</section>
