<nav class="main-navigation stuckMenu">
    <a href="{{ .Site.BaseURL }}">
        <img class="logo" src="{{ .Site.BaseURL }}img/logo.png" alt="{{ .Site.Title }}">
    </a>
    <div class="sub-navigation">
        <a href="#" class="main-navigation-link" id="about" data-scroll-goto="0">About</a>

        {{ if .Site.Params.research.enable }}
        <a href="#" class="main-navigation-link" data-scroll-goto="1">{{ .Site.Params.research.title }}</a>
        {{ end }}

        {{ if .Site.Params.teaching.enable }}
        <a href="#" class="main-navigation-link" data-scroll-goto="2">{{ .Site.Params.teaching.title }}</a>
        {{ end }}

        {{ if .Site.Params.travel.enable }}
        <a href="#" class="main-navigation-link" data-scroll-goto="3">{{ .Site.Params.travel.title }}</a>
        {{ end }}

        {{ if .Site.Params.misc.enable }}
        <a href="#" class="main-navigation-link" data-scroll-goto="4">{{ .Site.Params.misc.title }}</a>
        {{ end }}

    </div>
</nav>
