<section data-scroll-index="1">
    <div class="math">
        <div class="header">
            <h1 class="title">{{ .Site.Params.research.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.research.Subtitle }}</h2>
        </div>
        <div class="content-case-study">
            <h2 class="subtitile" style="
                font-size: 28px;
                color: #000000;
                font-weight: 500;
                ">Papers</h2>
            <ol type="1" reversed style="font-size: 16px;
            color: #000000;
            letter-spacing: 0;
            line-height: 1.8em">
                <li><a class="article" href="/research/clawfree.pdf" target="blank" >Equivariant log-concavity of independence sequences of claw-free graphs</a>
                    <br>
                    We show that the graded vector space spanned by independent vertex sets of any claw-free graph is strongly equivariantly log-concave, viewed as a graded permutation representation of the graph automorphism group. Our proof reduces the problem to the equivariant hard Lefschetz theorem on the cohomology of a product of projective lines. Both the result and the proof generalize our previous result on graph matchings. This also gives a strengthening and a new proof of results of Hamidoune, and Chudnovsky--Seymour.
                    <br>
                    <br>
                </li>
                <li><a class="article" href="https://arxiv.org/abs/2210.03169" target="blank"> <span class="emphasized">K</span>-rings of wonderful varieties and matroids</a>
                    <br>(with <a class="journal" href="https://stanford.edu/~mwlarson/" target="blank" >Matt Larson</a>, <a class="journal" href="https://web.ma.utexas.edu/users/sampayne/" target="blank" >Sam Payne</a>, <a class="journal" href="https://pages.uoregon.edu/njp/" target="blank" >Nick Proudfoot</a>)
                    <br>
                    We study the <span class="emphasized">K</span>-ring of the wonderful variety of a hyperplane arrangement and give a combinatorial presentation that depends only on the underlying matroid. We give a new invariant of arbitrary matorids. It computes the Euler characteristics of arbitrary line bundles on wonderful varieties and on Deligne--Mumford--Knudsen moduli spaces of stable rational curves with marked points.
                    <br>
                    <br>
                </li>
                <li><a class="article" href="https://arxiv.org/abs/2208.05463" target="blank">Wonderful compactifications and rational curves with cyclic action</a>
                    <br>(with <a class="journal" href="https://sites.google.com/site/emilyclader/" target="blank" >Emily Clader</a>, <a class="journal" href="https://chiaradamiolini.wixsite.com/1289" target="blank" >Chiara Damiolini</a>, <a class="journal" href="https://sites.google.com/view/rohini-ramadas/home" target="blank" >Rohini Ramadas</a>)
                    <br>
                    We prove that the moduli space of rational curves with cyclic action, constructed in our previous work, is realizable as a wonderful compactification of the complement of a hyperplane arrangement in a product of projective spaces.  By proving a general result on such wonderful compactifications, we conclude that this moduli space is Chow-equivalent to an explicit toric variety (whose fan can be understood as a tropical version of the moduli space), from which a computation of its Chow ring follows.
                    <br>
                    <br>
                </li>
                <li><a class="article" href="https://arxiv.org/abs/2202.08828" target="blank">Equivariant log-concavity of graph matchings</a>
                   <br> To appear in
                   <a class="journal" href="https://www.degruyter.com/journal/key/advg/html?lang=en" target="blank" >Algebraic Combinatorics</a>.
                    <br>
                    We show that the graded vector space spanned by matchings in any graph is strongly equivariantly log-concave, viewed as a graded permutation representation of the graph automorphism group. Our proof constructs equivariant injections by reducing to the hard Lefschetz theorem.
                    <br>
                    <br>
                </li>

                <li><a class="article" href="https://arxiv.org/abs/2108.00875" target="blank">Intersecting psi-classes on tropical Hassett spaces</a>
                    <br> (with <a class="journal" href="https://sites.google.com/site/marvinanashahn/" target="blank" >Marvin Anas Hahn</a>)
                    <br> <a class="journal" href="https://escholarship.org/uc/item/6569z31w#main" target="blank" >Combinatorial Theory, 2(3), https://doi.org/10.5070/C62359165</a>.
                    <br>
                        We study the intersection of tropical psi-classes on tropical heavy/light Hassett spaces, generalising a result of Kerber--Markwig. Our computation reveals that the weight of a maximal cone in an intersection has a combinatorial intepretation in terms of the underlying tropical curve and it is always nonnegative. In particular, our result specialises to that, in top dimension, the tropical intersection product coincides with its classical counterpart.
                    <br>
                    <br>
                </li>

                <li><a class="article" href="https://arxiv.org/abs/2104.06526" target="blank">Permutohedral complexes and rational curves with cyclic action</a>
                    <br>(with <a class="journal" href="https://sites.google.com/site/emilyclader/" target="blank" >Emily Clader</a>, <a class="journal" href="https://chiaradamiolini.wixsite.com/1289" target="blank" >Chiara Damiolini</a>, <a class="journal" href="https://www.daojihuang.me/" target="blank" >Daoji Huang</a>, <a class="journal" href="https://sites.google.com/view/rohini-ramadas/home" target="blank" >Rohini Ramadas</a>)
                    <br> <a class="journal" href="https://trebuchet.public.springernature.app/get_content/80b0685b-fd41-4024-bbea-1bdff2c16340" target="blank" >manuscripta mathematica. DOI: 10.1007/s00229-022-01419-6</a>
                    <br>
                    We construct a moduli space of rational curves with finite-order automorphism and weighted orbits, and studied a three-way bijection between the boundary strata of the moduli space, the faces of a polytopal complex, and certain cosets of the complex reflection group.
                    <br>
                    <br>
                </li>

                <li><a class="article" href="https://arxiv.org/abs/2011.04814" target="blank">Relative Bott-Samelson varieties</a>
                <br>
                We generalize Brion's Bott-Samelson resolution of singularities of Richardson varieties to a relative setting. We then applied it to give a resolution of singularities for the Brill-Noether variety with imposed ramification on twice-marked elliptic curves, studied by Chan--Osserman--Pflueger.
                <br>
                <br>
                </li>

                <li><a class="article" href="https://arxiv.org/abs/2010.11767" target="blank">Topology of tropical moduli space of weighted stable curves in higher genus</a>
                    <br>(with <a class="journal" href="https://sites.google.com/view/siddarthkannan/about-me" target="blank" >Siddarth Kannan</a>, <a class="journal" href=https://sites.google.com/view/stefano-serpente/home-page target="blank" >Stefano Serpente</a>, <a class="journal" href="https://www.claudiayun.com/" target="blank" >Claudia He Yun</a>; <a class="journal" href="https:/www.shiyue.li/slides/top-hassett-slides.pdf" target="blank">slides</a>)
                    <br> To appear in
                    <a class="journal" href="https://www.degruyter.com/journal/key/advg/html?lang=en" target="blank" >Advances in Geometry</a>.
                    <br> We prove the simple connectivity of the moduli spaces of weighted stable tropical curves of volume one, for all higher genus and all rational weights. We also compute their Euler characteristics.
                    <br>
                    <br>
                </li>

                <li>
                    <a class="article" href="https://arxiv.org/abs/1910.10883" target="blank">Chow ring of heavy/light Hassett spaces via tropical geometry</a>
                    <br>
                    (with <a class="journal" href="https://sites.google.com/view/siddarthkannan/about-me" target="blank" >Siddarth Kannan</a> and <a class="journal" href="https://www.math.hmc.edu/~dk/" target="blank" >Dagan Karp</a>)
                    <br>
                    <a class="journal" href="https://www.sciencedirect.com/science/article/pii/S0097316520301400" target="blank" >Journal of Combinatorial Theory, Series A. 178C (2021) 105348</a>
                    <br>
                    We compute the Chow ring of heavy/light Hassett spaces of genus zero via tropical compactification and toric intersection theory.
                </li>
            </ol>
        </div>
        <div class="content-case-study">
            <h2 class="subtitile" style="
                font-size: 28px;
                color: #000000;
                font-weight: 300;
                ">Talks</h2>
            <ul style="font-size: 16px;
            color: #000000;
            letter-spacing: 0;
            line-height: 1.5em">
            <br>
                <li>
                   <a class="link" href="http://www.fields.utoronto.ca/activities/22-23/matroids-seminar" target="blank" >(Dec 2022) Fields Institute Seminar (online)</a>
                </li>
                <li>
                   <a class="link" href="https://math.washington.edu/events/series/algebra-and-algebraic-geometry-seminar" target="blank" >(Nov 2022) University of Washington Algebra and Algebraic Geometry Seminar, UW</a>
                </li>
                <li>
                   <a class="link" href="https://math.mit.edu/combin/" target="blank" >(Nov 2022) Harvard-MIT Combinatorics Seminar, Harvard University</a>
                </li>
                <li>
                  <a class="link" href="http://www.ams.org/meetings/sectional/2301_program_ss18.html" target="blank" >(Oct 2022) AMS Special Section on Combinatorial Algebraic Geometry, UMass Amherst</a>
                </li>
                <li>
                    <a class="link" href="https://awm-math.org/meetings/awm-research-symposium/" target="blank" >(Jun 2022) AWM Research Symposium, University of Minnesota</a>
                </li>
                <li>
                    <a class="link" href="https://pages.uoregon.edu/ddugger/ratcow.html" target="blank" >(Jun 2022) RATCOW, University of Oregon</a>
                </li>
                <li>
                    <a class="link" href="https://math.dartmouth.edu/~auel/BATMOBYLE/index.html" target="blank" >(May 2022) BATMOBILE, Brown University</a>
                </li>
                <li>
                    <a class="link" href="https://www.jointmathematicsmeetings.org//jmm" target="blank" >(Apr 2022) Joint Mathematics Meetings AWM Special Session</a>
                </li>
                <li>
                    <a class="link" href="https://www2.cms.math.ca/Events/winter21/schedule_daily" target="blank" >(Dec 2021) Canadian Math Society: Combinatorics and Geometry of Moduli Spaces</a>
                </li>
                <li>
                    <a class="link" href="https://sites.google.com/view/fragmentseminar/" target="blank" >(Sep 2021) Front Range Algebraic Geometry and Number Theory, Colorado State</a>
                </li>
                <li>
                    <a class="link" href="https://www.siam.org/conferences/cm/program/ag21" target="blank" >(Aug 2021) SIAM Conferences in Algebraic Geometry</a>
                </li>
                <li>
                    <a class="link" href="https://sites.google.com/bc.edu/map/home" target="blank" >(Apr 2021) Moduli Across the Pandemic</a>
                </li>
                <li>
                    <a class="link" href="https://www.uni-frankfurt.de/76756909/TGiF_Tropical_Geometry_in_Frankfurt" target="blank" >(Apr 2021) Tropical Geometry in Frankfurt (TGiF) Seminar</a>
                </li>
                <li>
                    (Apr 2021) AMS Spring Eastern Sectional Meeting on Moduli of Curves
                </li>
                <li>
                    (Oct 2020) Algebra Seminar, Brown University
                </li>
                <li>
                    (Nov 2021) American Graduate Student Algebraic Geometry Seminar
                </li>

            </ul>
        </div>
    </div>
</section>
