<section data-scroll-index="3">
    <div class="math">
        <div class="header">
            <h1 class="title">{{ .Site.Params.travel.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.travel.Subtitle }}</h2>
        </div>
        <div class="content-case-study">
            <h2 class="subtitile" style="
                font-size: 28px;
                color: #5A54AF;
                font-weight: 300;
                ">Upcoming Travels</h2>

            <ul style="font-size: 16px;
            color: #777777;
            letter-spacing: 0;
            line-height: 1.8em">
                <li>AGNES Fall 2018, Brown University, Sep 21 - 23, 2018</li>
            </ul>
            <h2 class="subtitile" style="
                font-size: 28px;
                color: #5A54AF;
                font-weight: 300;
                ">Past Travels</h2>
            <ul style="font-size: 16px;
                color: #777777;
                letter-spacing: 0;
                line-height: 1.8em">
                <li>MSRI Summer Graduate School: Séminaire de mathématiques supérieures (SMS) 2018 on Derived Geometry and Higher Categorical Structures in Geometry and Physics, Fields Institute, June 10-22, 2018</li>
                <li>Arizona Winter School, University of Arizona, March 3-8, 2018</li>
                <li>MSRI Enumerative Geometry Beyond Numbers Workshops, Berkeley, Jan 18-27, 2018</li>
                <li>BATMOBYLE Fall 2017, Yale University, Nov 27, 2017</li>
                <li>AGNES Fall 2017, Northeastern University, Oct 13-15, 2017</li>
                <li>Western Algebraic Geometry Symposium Fall 2016, Colorado State University, Oct 15-16, 2016</li>
                <li>Student Tropical Alegbraic Geometry Seminar, Yale University, June 3-6, 2016</li>
            </ul>
        </div>
    </div>
</section>
