<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div>
            {{ if .Site.Params.nav.enable }}
            {{ partial "nav.html" . }}
            {{ end }}

            {{ if .Site.Params.hero.enable }}
            {{ partial "hero.html" . }}
            {{ end }}

            {{ if .Site.Params.research.enable }}
            {{ partial "research.html" . }}
            {{ end }}

            {{ if .Site.Params.teaching.enable }}
            {{ partial "teaching.html" . }}
            {{ end }}

            {{ if .Site.Params.expository.enable }}
            {{ partial "expository.html" . }}
            {{ end }}

            {{ if .Site.Params.travel.enable }}
            {{ partial "travel.html" . }}
            {{ end }}

            {{ if .Site.Params.misc.enable }}
            {{ partial "misc.html" . }}
            {{ end }}

            {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "scripts.html" . }}

    </body>
</html>
